* {
  padding: 0;
  margin: 0;
}

.nav {
  background-color: #3b5a9a;
}

.select-box {
  box-shadow: 1px 1px 1px 1px rgb(119, 131, 201);
  padding: 8px;
}

.hero {
  background: #4369b2;
  margin-bottom: 0;
  height: 7rem;
  width: auto;
}

.hero-section {
  width: auto;
  margin: auto 0;
}

.hero-section a {
  cursor: pointer;
  font-size: 2rem;
}

.hero-section p {
  font-size: 1.4rem;
}

.my-background {
  background: #4369b2;
}

.search-page {
  padding: 10px 10px;
}

.search-page p {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
}

.covid-comp {
  background-color: #3b5a9a;
  height: 170px;
  width: 50%;
  box-shadow: 1px 2px 1px 1px #88acee;
}

.covid-comp:nth-child(4n + 1),
.covid-comp:nth-child(4n + 4) {
  background-color: #3b5a9a;
  background-image: url('./components/asset/covid19.png');
  background-size: auto 100px;
  background-repeat: no-repeat;
  background-position: 50% 30%;
}

.covid-comp:nth-child(4n + 2),
.covid-comp:nth-child(4n + 3) {
  background: #4369b2;
  background-image: url('./components/asset/covid-removebg-preview.png');
  background-size: auto 75px;
  background-repeat: no-repeat;
  background-position: 85% 35%;
}

.more-icon {
  text-align: right;
  display: block;
  height: 50%;
  color: #fff;
}

.covid-comp-p {
  text-align: right;
  margin-right: 1px;
}

.covid-comp-p a {
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
}

.covid-comp-p p {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
}

.details-hero {
  background: #4369b2;
  display: flex;
  height: 120px;
}

.no-result {
  font-size: 2.7rem;
  font-weight: 700;
  position: fixed;
  margin-left: 45%;
  margin-top: 10%;
}

.details-stat {
  background: #4369b2;
  height: 48px;
}

.font-xlg {
  font-size: 2rem;
}

.font-lg {
  font-size: 1rem;
  font-weight: bold;
}

.country-item {
  padding: 24px 12px;
}

.country-item:nth-child(odd) {
  background-color: #3b5a9a;
}

.country-item:nth-child(even) {
  background: #4369b2;
}

.country-item p {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
}
